.hero {
  background: rgba(255, 255, 255, 0.5) url("../img/crates-stored.jpg");
  background-size: cover;
  background-position: center; }
  .hero .container {
    height: 100vh; }
  .hero h1 {
    color: white; }
  .hero p {
    color: white; }
  .hero .hero-text {
    margin-top: 15vh;
    margin-left: 0px; }
