.hero {
  background: rgba(255, 255, 255, 0.5) url("../img/crates-stored.jpg");
  background-size: cover;
  background-position: center;


  .container {
    height: 100vh;
  }

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  .hero-text {
    margin-top:15vh;
    margin-left: 0px;
  }
}